<div class="center hero-unit">

  <%= image_tag("c_logo.jpg", alt: "Chili's", heigth: "400", width: "300") %>

  <br/>

  <h1 class="app"><%= link_to "¡La aplicación que cambia la forma de ordenar!", "#" %></h1>
  
  <br/>
  <br/>
  <br/>
  <br/>

  <%= link_to "Registrate ahora!", signup_path, class: "btn btn-large btn-primary" %>
   
</div>
