<div class="center hero-unit">

	<%= image_tag("c_logo.jpg", alt: "Chili's", class: "c_logo") %>

	<br/>
	<br/>

	<h1 class="app"><%= link_to "¡La aplicación que cambia la forma de ordenar!", "#" %></h1>

	<br/>
	<br/>

	<%= link_to "Registrate ahora!", signup_path, class: "btn btn-large btn-primary" %>

</div>
