<footer class="footer">
	<small>
		<a href="#">Copyright © 2012 Easy Check</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "Acerca de ...",   about_path, class: "foot" %></li>
			<li>|</li>
			<li><%= link_to "Contacto", contact_path, class: "foot" %></li>
		</ul>
	</nav>
</footer>
