<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Easy Check", root_path, id: "logo" %>
      <nav>
    	<ul class="nav pull-right">
          <li><%= link_to "Inicio",	root_path, class: "label label-inverse" %></li>
          <li><%= link_to "Login", login_path, class: "label label-inverse" %></li>  
        </ul>
      </nav>
    </div>
  </div>
</header>